* {
	cursor: none;
}

body {
	background-color: #000;
	font-family: 'Sen';
	color: #fff;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

/* ! cursor */

.cursor {
	width: 3rem;
	height: 3rem;
	border: 2px solid white;
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	pointer-events: none;
	/* backdrop-filter: invert(1); */
	transition: all 0.3s ease;
	transition-property: background, transform;
	transform-origin: 100% 100%;
	z-index: 1000;
}

.link-grow {
	transform: scale(2);
}

/* ! navbar  */

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 8vh;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	height: 100%;
	margin: 0;
}

.nav-links li {
	list-style: none;
	height: 8vh;
	padding: 5px 20px;
	display: flex;
	align-items: center;
	box-sizing: border-box;
}

.nav-links a {
	text-decoration: none;
	font-size: 24px;
	color: #fff;
}

.contact-nav {
	background-color: #5221e6;
}

/* ! burger */

.burger {
	display: none;
}

.line1 {
	width: 20px;
	height: 3px;
	background-color: #fff;
	margin: 2.5px;
	transition: all 0.3s ease;
}

.line2 {
	width: 14px;
	height: 3px;
	background-color: #fff;
	float: right;
	margin: 2.5px;
	transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
	body,
	* {
		overflow-x: hidden;
	}
	.contact-nav {
		background-color: #000;
	}
	.nav-links {
		position: absolute;
		right: 0px;
		height: 92vh;
		width: 100%;
		top: 8vh;
		background-color: #000;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-around;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
		z-index: 1000;
	}
	.nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
	}
}

.nav-active {
	transform: translateX(0%);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-2.5px, 3px);
}
.toggle .line2 {
	width: 20px;
	transform: rotate(45deg) translate(-2.5px, -3px);
}

/* ! splash */

.splash {
	display: flex;
	justify-content: space-around;
	margin-bottom: 150px;
	margin-top: 50px;
}

.splash-content {
	margin: auto 0;
}

.splash-heading {
	font-size: 76px;
	font-weight: bold;
	margin-bottom: 40px;
}

.splash-img img {
	height: 80vh;
}

@media screen and (max-width: 960px) {
	.splash {
		flex-direction: column;
		margin-top: 0;
		margin-bottom: 75px;
	}
	.splash-img {
		margin: auto;
	}
	.splash-img img {
		height: 65vh;
	}
	.splash-content {
		margin: auto;
	}
	.splash-heading {
		font-size: 33px;
		margin-bottom: 15px;
	}
	.line-br {
		display: none;
	}
	.cursor {
		display: none;
	}
}

/* ! main body  */
.container {
	width: 90%;
	margin: auto;
}

@media screen and (max-width: 960px) {
	.container {
		width: 95%;
	}
}

.heading {
	font-size: 55px;
	font-weight: bold;
	margin-bottom: 10px;
}

.subheading {
	font-size: 18px;
	color: #8491a0;
}

@media screen and (max-width: 960px) {
	.heading {
		font-size: 32px;
	}
	.subheading {
		font-size: 14px;
	}
}

/* ! experience block */

.experience-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 100px;
	margin-bottom: 300px;
}

.experience {
	padding-right: 150px;
}

.experience-heading {
	font-size: 120px;
	color: #8491a0;
}

.experience-subheading {
	font-size: 24px;
	margin: 10px 0;
}

@media screen and (max-width: 960px) {
	.experience-container {
		display: flex;
		flex-direction: column;
		margin: 50px 0;
	}
	.experience {
		padding-right: 0px;
		margin: 25px 0;
	}
}

/* ! work block */

#work {
	display: flex;
}

.work-right {
	margin-left: 12.5px;
}

.work-left {
	margin-right: 12.5px;
}

.work-card {
	margin: 25px 0;
}

.work-card a {
	width: 100%;
	text-decoration: none;
	color: #fff;
}

.work-card a img {
	width: 100%;
}

.work-card-content {
	padding: 40px;
	background-color: #181823;
	margin-top: -4px;
}

.work-card-heading {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.work-card-subheading {
	color: #8491a0;
}

.work-view-more-div {
	display: flex;
	justify-content: center;
	align-content: center;
}

.work-view-more-button {
	text-decoration: none;
	color: white;
	padding: 20px 30px;
	box-sizing: border-box;
	border: 1px solid #5221e6;
	background: transparent;
}

@media screen and (max-width: 960px) {
	#work {
		display: inline;
		margin: 50px 0;
	}
	.work-left {
		margin: 0;
		margin-bottom: -25px;
	}
	.work-right {
		margin: 0;
		margin-bottom: 100px;
	}
}

/* ! ig block */
.ig-container {
	display: flex;
	padding: 50px 0;
}

.ig-left {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.ig-right {
	width: 50%;
	display: flex;
	justify-content: center;
}

.ig-right img {
	max-width: 100%;
}

.follow-me-a {
	padding: 10px 5px;
	border-bottom: 1px solid #5b6876;
	color: black;
	text-decoration: none;
}

@media screen and (max-width: 960px) {
	.ig-container {
		flex-direction: column-reverse;
	}
	.ig-left,
	.ig-right {
		width: 100%;
	}
	.follow-me-div {
		margin-top: 20px;
	}
}

/* ! testimonial setup */

.testimonial-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.testimonial-left {
	padding-right: 30px;
}

.left-sticky {
	position: sticky;
	position: -webkit-sticky;
	top: 0;
	padding-top: 100px;
}

.testimonial-right {
	padding-left: 30px;
	margin-top: 100px;
}

@media screen and (max-width: 960px) {
	.testimonial-container {
		display: inline;
	}
	.testimonial-left,
	.testimonial-right {
		padding: 0;
		margin: 25px 0;
	}
}

/* ! testimonial card  */
.testimonial {
	margin-bottom: 120px;
}

.testimonial-img {
	width: 100%;
	height: auto;
}

.testimonial-content {
	margin-top: -4px;
	border: 1px solid #5b6876;
	border-top: none;
	padding: 60px;
}

.testimonial-heading {
	margin-bottom: 70px;
}

.testimonial-by,
.testimonial-company {
	font-weight: bold;
	color: #8491a0;
}

.testimonial-by {
	font-size: 16px;
	margin-bottom: 10px;
}

.testimonial-company {
	font-size: 14px;
}

@media screen and (max-width: 960px) {
	.testimonial {
		margin-bottom: 60px;
	}
	.testimonial-content {
		padding: 20px;
	}
	.testimonial-heading {
		margin-bottom: 40px;
	}
	.testimonial-by {
		font-size: 14px;
		margin-bottom: 5px;
	}
	.testimonial-company {
		font-size: 12px;
	}
}

/* ! contact section  */

#contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 150px 0;
}

.contact-subheading {
	text-align: center;
	width: 30%;
}

.socials {
	width: 40%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: 75px;
}

@media screen and (max-width: 960px) {
	#contact {
		margin: 50px 0;
	}
	.contact-subheading {
		width: 100%;
	}
	.socials {
		width: 100%;
		margin-top: 15px;
	}
}

.icon-wrapper {
	width: 65px;
	height: 65px;
	display: flex;
	justify-content: center;
}

.icon-wrapper a img {
	width: 50px;
	height: 50px;
	margin: 7.5px 0;
}

@media screen and (max-width: 960px) {
	.icon-wrapper {
		width: 25px;
		height: 25px;
	}
	.icon-wrapper a img {
		width: 20px;
		height: 15px;
	}
}

.mail-div {
	margin-top: 75px;
	box-sizing: border-box;
	padding: 25px 35px;
	border: 1px solid #8491a0;
}

.mail-div:hover {
	transform: translate(0, -5px);
	border-color: #e95d90;
	background-color: #e95d90;
	transition-duration: 200ms;
}

.mail-div a {
	color: #fff;
	text-decoration: none;
}

@media screen and (max-width: 960px) {
	.mail-div {
		width: 100%;
		padding: 15px 15px;
		font-size: 14px;
		margin-top: 20px;
		border-color: #e95d90;
		background-color: #e95d90;
	}
}

/* ! Social media animation */

.linkedin {
	background-size: 200% 200%;
	background-image: linear-gradient(to top, #2867b2 50%, transparent 50%);
	transition: background-position 250ms;
}

.linkedin:hover {
	background-image: linear-gradient(to top, #2867b2 51%, transparent 50%);
	background-position: 0 100%;
	transition: background-position 250ms;
}

.medium {
	background-size: 200% 200%;
	background-image: linear-gradient(to top, #57ad68 50%, transparent 50%);
	transition: background-position 250ms;
}

.medium:hover {
	background-image: linear-gradient(to top, #57ad68 51%, transparent 50%);
	background-position: 0 100%;
	transition: background-position 250ms;
}

.dribble {
	background-size: 200% 200%;
	background-image: linear-gradient(to top, #ea4c89 50%, transparent 50%);
	transition: background-position 250ms;
}

.dribble:hover {
	background-image: linear-gradient(to top, #ea4c89 51%, transparent 50%);
	background-position: 0 100%;
	transition: background-position 250ms;
}

.instagram {
	background-size: 200% 200%;
	background-image: linear-gradient(to top, #c13584 50%, transparent 50%);
	transition: background-position 250ms;
}

.instagram:hover {
	background-image: linear-gradient(to top, #c13584 51%, transparent 50%);
	background-position: 0 100%;
	transition: background-position 250ms;
}

.twitter {
	background-size: 200% 200%;
	background-image: linear-gradient(to top, #1da1f2 50%, transparent 50%);
	transition: background-position 250ms;
}

.twitter:hover {
	background-image: linear-gradient(to top, #1da1f2 51%, transparent 50%);
	background-position: 0 100%;
	transition: background-position 250ms;
}

.spotify {
	background-size: 200% 200%;
	background-image: linear-gradient(to top, #1db954 50%, transparent 50%);
	transition: background-position 250ms;
}

.spotify:hover {
	background-image: linear-gradient(to top, #1db954 51%, transparent 50%);
	background-position: 0 100%;
	transition: background-position 250ms;
}
